.intro {
  // @include adaptiv-value("margin-bottom", 100, 30, 1);
}

.intro__image {
  position: relative;

  // margin-bottom: 46px;
  @include adaptiv-value("margin-bottom", 46, 20, 1);
  padding-bottom: 35.2%;

  overflow: hidden;

  @media (max-width: $bp-3+px) {
    padding-bottom: 42%;
  }

  @media (max-width: $bp-4+px) {
    padding-bottom: 54%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &::before {
    content: "";

    position: absolute;
    top: -24%;
    left: -10%;
    // width: 470px;
    // height: 470px;
    width: 40%;
    height: 115%;
    z-index: 2;

    background-image: linear-gradient(to top, rgba(#007397, 0), rgba(#007397, 0.75));

    transform: rotate(19deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    background-image: linear-gradient(to bottom, rgba(#ffffff, 0), rgba(#3C3E3D, 0.75));
  }
}

.intro__title {
  position: absolute;
  right: 0;
  bottom: 20%;
  z-index: 3;

  max-width: 66%;

  font-family: "PT Serif", "Times New Roman", Times, Baskerville, Georgia, serif;
  @include adaptiv-font(32, 18, 1);
  line-height: 48 / 32 * 100%;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-white;

  text-shadow: 0 3px 1px rgba(#000000, 0.6);

  @media (max-width: $bp-4+px) {
    max-width: none;
    padding: 0 10px;

    text-align: center;
  }
}

.intro__text {
  max-width: 970px;
  margin: 0 auto;
  // margin-bottom: 80px;
  @include adaptiv-value("margin-bottom", 42, 30, 1);

  // font-size: 20px;
  @include adaptiv-font(20, 14, 1);
  line-height: calc(36 / 20 * 100%);
  font-weight: 300;
  text-align: center;
}

.intro__footer {
  text-align: center;
}

.intro__button {
  @media (max-width: $bp-4+px) {
    width: 100%;
  }
}
