.main-nav {
  position: relative;
  z-index: 110;

  @media (max-width: $bp-3+px) {
    position: fixed;
    top: 0;
    left: -120%;
    z-index: 100;

    width: 100%;
    height: 100%;

    padding: 0 15px;
    padding-top: 80px;

    overflow: auto;
    background-color: $color-white;

    transition: all 0.6s ease;

    &--open {
      left: 0;
    }
  }

}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $bp-3+px) {
    display: block;
  }
}

.main-nav__item {

  &:not(:first-child) {
    margin-left: 38px;
  }

  @media (max-width: $bp-1+px) {
    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  @media (max-width: $bp-2+px) {
    &:not(:first-child) {
      margin-left: 22px;
    }
  }

  @media (max-width: $bp-3+px) {
    margin-bottom: 26px;

    text-align: center;

    &:not(:first-child) {
      margin-left: 0;
    }
  }
}

.main-nav__link {
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  transition: all 0.3s ease;

  span {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      left: 50%;
      bottom: -3px;

      width: 0;
      height: 1px;

      background-color: $color-blue;
      transition: all 0.3s ease;
    }
  }


  &:hover {
    color: $color-blue;

    span {
      &::before {
        left: 0;

        width: 100%;
      }
    }
  }

  &:active {
    opacity: 0.8;
  }

  @media (max-width: $bp-2+px) {
    font-size: 11px;
  }

  @media (max-width: $bp-3+px) {
    font-size: 18px;
  }

  &--locations {
    display: flex;
    align-items: center;

    @media (max-width: $bp-3+px) {
      justify-content: center;
    }

    svg {
      margin-left: 14px;

      @media (max-width: $bp-2+px) {
        margin-left: 0px;
      }

      @media (max-width: $bp-3+px) {
        display: none;
        // margin-left: 23px;
      }
    }

    span {
      @media (max-width: $bp-2+px) {
        display: none;
      }

      @media (max-width: $bp-3+px) {
        display: inline-block;
      }
    }
  }
}
